<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Main Page</title>

</head>
<body>
    <table border=10
           align="right">
        <tr>
            <th> <a href="/logout"> Log Out </a> </th>
        </tr>
        <tr>
            <th> <a href="/driver_profile"> Driver Profile</a> </th>
        </tr>
        <tr>
            <th> <a href="/ongoing_ride"> View Rides </a> </th>
        </tr>
    </table>

    <table border=0 cellpadding=0 cellspacing=0 width=100% height=100%>
        <tr><td width=100% align=center valign=center>
        
        <table border=5 width=800 height=500 cellspacing=5>
            <tr>
                <th> <a href="/startRide"> <big>Start &nbsp&nbsp&nbsp A &nbsp&nbsp&nbsp Ride</big> </a> </th>
            </tr>
            <tr>
                <th> <a href="/joinRide"> <big>Join &nbsp&nbsp&nbsp A &nbsp&nbsp&nbsp Ride</big> </a> </th>
            </tr>
            <tr>
                <th> <a href="/driver_search"> <big>Search &nbsp&nbsp&nbsp Open &nbsp&nbsp&nbsp Requests</big> </a> </th>
            </tr>
        </table>
        
        <td></tr>
    </table>
</body>
</html>