<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Edit Error</title>
</head>
<body>
    <table width="600" align="center">
        <tr>
            <td>You made some errors when modifying your ride, missing some fields or passenger number is smaller than 1.</td>
        </tr>
        <tr>
            <td> <a href="/ongoing_ride"> Click here to go back to your view page and choose the ride you want to modify again</a> </td>
        </tr>
    </table>
    
</body>
</html>